<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Radio</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <!--<link rel="shortcut icon" href="../favicon.ico">-->
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
        <link rel="stylesheet" type="text/css" href="./css/toastr.min.css" />
		    <script type="text/javascript" src="./build/modernizr.custom.69142.js"></script>
    </head>
    <body>
        <div class="container">
          <div class="codrops-top">
              <span class="left">
                <a href="#"></a>
              </span>
              <span class="week"><a href="/">Радио</a></span>
              <span class="week active"><a href="/weeks"><span class="WeekNumberOnHead"></span> неделя</a></span>
              <span class="right">
					      <a href="#">Radio by IVAN</a>
              </span>
                <div class="clr"></div>
            </div>
            <div class="AlbumsDiv centerDiv">
              <img src="./images/left.png" style="width: 10%;height: 10%;" />
              <span style="font-size:3em">30</span>
              <img src="./images/right.png" style="width: 10%;height: 10%;"/>
            </div>
            <% for(var i=0; i<items.length; i++) {%>
              <div class="AlbumsDiv">
                <div class="AlbumsDiv--Img">
                    <img src="<%= items[i].src %>"/>
                </div>
                <div class="AlbumsDiv_Info">
                  <div class="AlbumsDiv--Title"><%= items[i].title %></div>
                  <div class="AlbumsDiv--MiddleRating" title="Средний рейтинг альбома по оценкам слушателей">&#9733; <%= items[i].rate %></div>
                  <div class="AlbumsDiv--Genres"><%= items[i].Genres %></div>
                  <div class="AlbumsDiv--PrevText"><%= items[i].preView %></div>
                </div>
              </div>
            <% } %>

        </div>
    <footer>
      <div class="email"></div>
    </footer>
    <script src="../build/jquery3.0.0.min.js" type="text/javascript"></script>
    <script src="../build/toastr.min.js" type="text/javascript"></script>
    <script src="../js/Common.js" type="text/javascript"></script>
  </body>
</html>
